body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.number{
  margin-left: 30%;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  background-color: aqua;
}



table, tr{
  min-width: max-content;
  margin-top: 2%;
}

td{  
  text-align: center;
  background-color: aqua;
}

.steps { 
  padding-right: 50px;
}

.dropBox{  
  border-style: solid;
  padding:10px;
  text-align: center;
  min-width: 20px;
  height: 20px;
}