body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.number{
  min-width: 25px;
  max-width: max-content;
  min-height: 10px;
  text-align: center;
  background-color: aqua;
}

.dropBox{
  min-width: 20px;
  min-height: 50px;
  
  border-style: solid;
  margin: 15px;
  text-align: center;
}

table, tr{
  min-height: 32px;
  min-width: 32px;
}

